## Esse é o arquivo de configuração do serviço systemd para o PocketBase
## Fica no caminho /etc/systemd/system/pocketbase.service no servidor da uff

[Unit]
Description=PocketBase Service
After=network.target

[Service]
Type=simple
User=seta
Group=seta
WorkingDirectory=/home/seta
ExecStart=/home/seta/ehealth/cms/pocketbase serve --http='0.0.0.0:8090'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target