## Esse é o arquivo de configuração do serviço systemd para o PocketBase
##cat /etc/systemd/system/pocketbase.service

[Unit]
Description=PocketBase Service
After=network.target

[Service]
# Caminho para a pasta onde está o binário pocketbase
WorkingDirectory=/home/ubuntu

# Execução do PocketBase
ExecStart=/home/ubuntu/pocketbase serve --http=127.0.0.1:8090 --hooks

# Recomendações para serviços web
Restart=always
RestartSec=3

# Usuário que executará o processo
User=ubuntu
Group=ubuntu

# Garantir que logs vão para journalctl
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target